.jumbotron {
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 250px;
  background-color: White;
  color: black;
  opacity: .50;
  font-family: helvetica, sans-serif;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}
