.jumbotron {
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 250px;
  background-color: White;
  color: black;
  opacity: .50;
  font-family: helvetica, sans-serif;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.container {
  height: 250px;
  font-family: helvetica, sans-serif;
}

h2 {
  font-family: helvetica, sans-serif;
  font-size: 22px;
}

h4 {
  font-family: helvetica, sans-serif;
}

.btn {
  background-color: darkgrey;
  border-color: darkgrey;
}

.btn-danger {
  background-color: darkred;
  border-color: darkred;
}
